__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

LOL_datasets/
LSRW_datasets/
SICE_datasets/
data/
datasets/

work_dirs*/
checkpoints/
weights/
results/
pred*/
tf_logs/
runs/

*.pth
*.pt
*.ckpt
*.onnx
*.log
*.log.json
events.out.tfevents.*

.DS_Store
